.search {
  padding: 5rem 0;
}

.search label {
  display: block;
  font-size: 2.4rem;
}

.search input {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #000;
}

.search input:focus {
  outline: none;
}
